.jumbotron.inicio {
  background-image: url(../img/hotel.jpg);
  background-position: center center;
  background-size: cover;
  height: 65vh;
}
.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 2rem;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0;
}
div .btn-primary,
div .btn-outline-success {
  margin-top: 10px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding: 10px;
}